{% load staticfiles %}

<link rel="stylesheet/less" type="text/css" href="{% static 'barkochba/style.less' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/jquery.tokeninput-1.6.0/styles/token-input.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/jquery.tokeninput-1.6.0/styles/token-input-facebook.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.2.0/css/bootstrap-theme.css' %}" />

<script src="{% static 'lib/jquery-2.1.1.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery.tokeninput-1.6.0/src/jquery.tokeninput.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/less-1.7.5.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/underscore-1.7.0.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap-3.2.0/js/bootstrap.js' %}" type="text/javascript"></script>

<script type="text/javascript">
function _namesChanged() {
	selectedPersonIdsString = $("#names-input").val();
	selectedPersonIds = _.map(selectedPersonIdsString.split(','), function (value) {
		return Number(value);
	});
	$('a.barkochba-story-summary').each(function() {
		storyPersonIds = $(this).data("person-ids");
		heardStoryPersonIds = _.intersection(selectedPersonIds, storyPersonIds);
		hasHeardStory = heardStoryPersonIds.length > 0;
		if (hasHeardStory) {
			$(this).slideUp();
		} else {
			$(this).slideDown();
		}
	});
}

function _storySelected(storyId) {
	// Select the summary
	$('a.barkochba-story-summary').removeClass('active');
	$('a.barkochba-story-summary').filter(function (index) {
		return $(this).data("story-id") === storyId;
	}).addClass('active');

	// Show the details
	$('div.barkochba-story-detail').hide();
	$('div.barkochba-story-detail').filter(function (index) {
		return $(this).data("story-id") === storyId;
	}).show();
}

$(document).ready(function () {
    $("#names-input").tokenInput("{% url 'tabor:person_search' %}", {
    	hintText: 'Keress egy személy nevére',
    	noResultsText: 'Nincs találat',
    	searchingText: 'Keresés...',
    	theme: 'facebook',
    	preventDuplicates: true,
    	onAdd: _namesChanged,
    	onDelete: _namesChanged
    });
});
</script>

<body>

	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<input id="names-input" />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="list-group">
					{% for story_map in stories %}
					  <a href="#" class="list-group-item barkochba-story-summary" data-person-ids="{{ story_map.person_ids_json }}" data-story-id="{{ story_map.story.id }}" onclick="_storySelected({{ story_map.story.id }});">
					  	{{ story_map.story.order_number }} - {{ story_map.story.title }}
					  </a>
					{% endfor %}
				</div>
			</div>

			<div class="col-sm-8">
				{% for story_map in stories %}
					<div class="panel panel-default barkochba-story-detail" data-story-id="{{ story_map.story.id }}">
						<div class="panel-heading">
							{{ story_map.story.order_number }} - {{ story_map.story.title }}
						</div>
						<div class="panel-body">
						  <p>
						  	{{ story_map.story.story }}
						  </p>
						  <p>
						  	{{ story_map.story.solution }}
						  </p>
						  <p>
						  	Szabó Marcell, Tokovics Dávid
						  </p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>

</body>