{% load staticfiles %}

<link rel="stylesheet/less" type="text/css" href="{% static 'barkochba/style.less' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'barkochba/lib/jquery.tokeninput-1.6.0/styles/token-input.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'barkochba/lib/jquery.tokeninput-1.6.0/styles/token-input-facebook.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'barkochba/lib/bootstrap-3.2.0/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'barkochba/lib/bootstrap-3.2.0/css/bootstrap-theme.css' %}" />

<script src="{% static 'barkochba/lib/jquery-2.1.1.js' %}" type="text/javascript"></script>
<script src="{% static 'barkochba/lib/jquery.tokeninput-1.6.0/src/jquery.tokeninput.js' %}" type="text/javascript"></script>
<script src="{% static 'barkochba/lib/less-1.7.5.js' %}" type="text/javascript"></script>
<script src="{% static 'barkochba/lib/underscore-1.7.0.js' %}" type="text/javascript"></script>
<script src="{% static 'barkochba/lib/bootstrap-3.2.0/js/bootstrap.js' %}" type="text/javascript"></script>

<script type="text/javascript">
function _namesChanged() {
	selectedPersonIdsString = $("#names-input").val();
	selectedPersonIds = _.map(selectedPersonIdsString.split(','), function (value) {
		return Number(value);
	});
	$('li.story').each(function() {
		storyPersonIds = $(this).data("person-ids");
		heardStoryPersonIds = _.intersection(selectedPersonIds, storyPersonIds);
		hasHeardStory = heardStoryPersonIds.length > 0;
		if (hasHeardStory) {
			$(this).slideUp();
		} else {
			$(this).slideDown();
		}
	});
}

$(document).ready(function () {
    $("#names-input").tokenInput("{% url 'barkochba:person_search' %}", {
    	hintText: 'Keress egy személy nevére',
    	noResultsText: 'Nincs találat',
    	searchingText: 'Keresés...',
    	theme: 'facebook',
    	preventDuplicates: true,
    	onAdd: _namesChanged,
    	onDelete: _namesChanged
    });
});
</script>

<body>

	<div>
		<input id="names-input" />
	</div>

	<div>
		<ul>
			{% for story_map in stories %}
				<li class="story" data-person-ids="{{ story_map.person_ids_json }}">{{ story_map.story.order_number }} - {{ story_map.story.title }}</li>
			{% endfor %}
		</ul>
	</div>

</body>